version: '3'
services: 
    db:
        image: 'postgres:latest'
        environment:
            POSTGRES_PASSWORD: Kyuuk@n007
            POSTGRES_USER: postgres
            POSTGRES_DB: talk_db
        ports:
            - "5432:5432"
    pgadmin:
          container_name: pgadmin4_container
          image: dpage/pgadmin4
          restart: always
          environment:
            PGADMIN_DEFAULT_EMAIL: user@domain.com
            PGADMIN_DEFAULT_PASSWORD: SuperSecret
          ports:
            - "5050:80"
